@import "~bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5 {
    font-family: TwitterChirpExtendedHeavy;
    &.basic {
        font-family: TwitterChirp;
    }
    &.dark {
        font-weight: bold;
    }
    &.light {
        font-weight: 400;
    }
}
p {
    font-family: TwitterChirp;
    &.light {
        font-weight: 400;
        color: rgb(83, 100, 113);
        font-size: 14px;
        letter-spacing: -0.8px;
    }
    &.dark {
        font-weight: bold;
    }
    &.darker {
        font-weight: bolder;
    }
    &.large {
        font-size: 20px;
    }
    &.larger {
        font-size: 28px;
    }
}