div#main {
    display: flex;
    flex-direction: row;
    height: 100vh;

    div#image {
        flex: 0.55;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#login {
        flex: 0.45;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        h1 {
            font-size: 3.7rem;
        }

        h2 {
            margin-top: 1rem;
        }

        p#sign-up-text {
            font-size: 0.8rem !important;
            font-family: TwitterChirp !important;
            width: 50%;
        }
    }
}

@media (max-width: 998px) {
    div#main {
        display: flex;
        flex-direction: column;
        margin: 10% 20% auto;

        div#image {
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 10%;

            div {
                svg {
                    width: 30% !important;
                    height: 30% !important;
                }
            }
        }
        
        div#login {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 748px) {
    div#main {
        display: flex;
    }
    
    body:has(div#modal-view) {
        div#main {
            display: none;
        }
    }
}
