label {
    color: #677682 !important;
}
.form-floating > .form-select:focus ~ label {
    color: #88bef5 !important;
}

.form-select:focus {
    border-color: var(--bs-blue) !important;
    border-width: 2px !important;
    box-shadow: 0 0 0 0 !important;
}